
/*.md-footer__inner:not([hidden]),*/ .md-nav__title { display: none }

.item-tag {
  display: inline-block;
  border-radius: 2.4rem;
  font-weight: 700;
  font-size: .5rem;
  letter-spacing: normal;
  line-height: 1.6;
  padding: 0.1em 0.6em;
  vertical-align: middle;
  color: white;
}

.item-tag-alpha { background: #10632d; }
.item-tag-beta { background: #b66e02; }
.item-tag-stable { background: #9e251d; }

.md-nav {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
